<main>
  <div class="content-wrapper">
    <nav>
      <ul class="sub-navigation">
        <li><a href="#nolink" class="current">Idea</a></li>
        <li><%= link_to('Photos', idea_photos_path(@idea)) %></li>
      </ul>
    </nav>
    <h1>Edit idea</h1>
    <%= render(partial: 'form', locals: { idea: @idea }) %>
  </div>
</main>
