<main>
  <div class="content-wrapper">
    <h1>Results for "everything"</h1>
  </div>
  <div class="content-wrapper">
    <ul class="bare-list float-grid css-grid">

      <% ['See the Northern lights',
          'Cycling across the Alps',
          'Test drive a Lamborghini',
          'Write a short story',
          'Make a curry',
          'Volunteer for a charity for one weekend',
          'Go skydiving',
          'Inter-rail across Europe',
          'Learn how to ski'].each do |item| %>
        <li><%= render(partial: 'idea_card', locals: { card_title: item }) %></li>
      <% end %>

    </ul>
  </div>
  <div class="see-more">
    <button class="btn" type="button" data-more="true">See more</button>
  </div>
</main>
