<main>
      <div class="masthead">
        <div class="content-wrapper">
          <h1>Get inspired. Create your bucket list. Share.</h1>
          <form method="get" action=" ">
            <div class="input-inline">
              <label class="input-group__label" for="banner-search-input">Inspire me</label>
              <div class="input-row">
                <input id="banner-search-input" class="input-row__field" type="text" name="search" placeholder="e.g. Swimming with dolphins">
                <button class="btn btn--inline" type="submit">Search</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="content-wrapper">
        <h2>Some ideas</h2>
        <ul class="bare-list float-grid css-grid">
          <% ['Watch the Northern Lights', 'Something anything onething much longer text something', 'Short'].each do |title| %>
            <li><%= render(partial: 'idea_card', locals: { card_title: title, done_count: 24, photo_url: 'http://fpoimg.com/255x170', idea: 1 }) %></li>
          <% end %>
        </ul>
      </div>
      <div class="see-more">
        <button class="btn" type="button" data-more="true">See more</button>
      </div>
    </main>
