<div class="card">
  <div class="card__thumb">
    <a href="ideas/one-example-idea.html">
      <img src="http://fpoimg.com/255x170"
           alt="Northern lights over mountain covered in snow">
    </a>
    <div class="card__intro">
      <h4 class="card__title">See the Northern lights</h4>
      <span>1,598 have done this</span>
    </div>
  </div>
  <div class="card__footer">
    <button class="card__btn card__like delta" data-like="see-the-northern-lights">
      <svg class="icon-heart icon-heart--liked" role="presentation">
        <use href="/images/icons/icons-defs.svg#heart"></use>
      </svg>
      Like
    </button>
    <button class="card__btn card__add delta" data-addGoal="see-the-northern-lights">
      <svg class="icon-pluss" role="presentation">
        <use href="/images/icons/icons-defs.svg#pluss"></use>
      </svg>
      Add Goal
    </button>
  </div>
</div>
