<div class="input-inline">
  <label class="input-group__label" for="global-search-input">Looking for inspiration?</label>
  <div class="input-row">
    <input id="global-search-input" class="input-row__field" type="text" name="global-search" placeholder="e.g. Swimming with dolphins">
    <button class="btn btn--inline" type="submit">Search</button>
  </div>
</div>
