<main>
  <div class="content-wrapper">
    <nav>
      <ul class="sub-navigation">
        <li><%= link_to('Account', account_path) %></li>
        <li><%= link_to('Goals', account_goals_path, class: 'current') %></li>
        <li><a href="#nolink">Ideas</a></li>
        <li><a href="#nolink">Following</a></li>
      </ul>
    </nav>
    <h1>My goals</h1>
  </div>
  <div class="content-wrapper">
    <% if (@goals.any?) %>
      <ul class="bare-list float-grid css-grid">
        <% @goals.each do |goal| %>
          <li><%= render(partial: 'goal_card', locals: { goal: goal }) %></li>
        <% end %>
      </ul>
      <div class="see-more">
        <button class="btn" type="button" data-more="true">See more</button>
      </div>
    <% else %>
      <h3>You don't currently have any goals.</h3>
    <% end %>
  </div>
</main>
