<nav class="site-header__nav">
  <ul class="main-navigation">
    <li><a href="#nolink"><%= translate('inspiration') %></a></li>
    <li><%= link_to(translate('signup'), signup_path) %></li>
    <li><%= link_to(translate('login'), login_path) %></li>
  </ul>
</nav>
