<nav class="site-header__nav">
  <ul class="main-navigation">
    <li><a href="#nolink">Inspiration</a></li>
    <li><%= link_to('My account', account_ideas_path) %></li>
    <li><a href="#nolink">Log out</a></li>
  </ul>
</nav>
